<div id="sidebar" class="sidebar sidebar-left">
  <!-- Nav tabs -->
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li class=""
        ><a href="#home" role="tab"><i class="fa fa-bars"></i></a
      ></li>
      <li class=""
        ><a href="#profile" role="tab"><i class="fa fa-user"></i></a
      ></li>
      <!-- If user is logged in, show fav & map tab -->
      <% if (username) { %>
        <li class=""
          ><a href="#fav-tab" role="tab"><i class="fa fa-heart"></i></a
        ></li>
      <li class=""
        ><a href="#map-tab" role="tab"><i class="fa fa-map"></i></a
      ></li>
      <% } %>
      <li class=""
        ><a href="#view-tab" role="tab"><i class="fa fa-eye"></i></a
      ></li>
      <li class=""
        ><a href="#discover-tab" role="tab"><i class="fa fa-earth"></i></a
      ></li>
    </ul>

    <ul role="tablist">
      <li class="disabled"
        ><a href="#settings" role="tab"><i class="fa fa-gear"></i></a
      ></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane active" id="home">
      <h1 class="sidebar-header">
        Welcome to WikiMaps!
        <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
      </h1>
      <br />
      <p class="lorem"
        ><i class="fa-solid fa-earth-americas"></i> Visit the 
        <b>Discover</b> tab to view the list of public maps created by WikiMap
        users.</p
      >
      <% if (username === undefined) { %>
      <p class="lorem"
        ><a href="/users/signup">Sign up</a> or <a href="/users/login">Log in</a> to start creating your own maps! Your maps can be set
        as public or private.</p
      >
      <br>
      <h5>
        WikiMap Users can:
      </h5>
      <% } else { %>
      <p class="lorem"
        ><i class="fa-solid fa-map"></i> Visit the <b>New Map</b> tab to add points and create a new map.</p>

      <% } %>

      <p class="lorem">
        <i class="fa-solid fa-eye"></i> View and edit map details in the <b>View Map</b> tab.
      </p>

      <p class="lorem">
        <i class="fa-solid fa-user"></i> Contribute to public maps, and view user contributions in the
        <b>Profile</b> tab.
      </p>
      <p class="lorem">
        <i class="fa-solid fa-heart"></i> Keep a list of <b>Favorites</b>.
      </p>

      <p
        >By <a href="https://github.com/glowiep">Gloria Lim</a> and
        <a href="https://github.com/svaronc">Sebastian Varon</a>.</p
      >
      <p>View project <a href="https://github.com/glowiep/WikiMaps">sources, credits & acknowledgements</a>.</p>
    </div>

    <%- include('_sidebar-profile-tab') %>

    <!-- If user is logged in, show fav & map tab -->
    <% if (username) { %> 
      <%- include('_sidebar-fav-tab') %>
      <%- include('_sidebar-map-tab') %>
      <%- include('_sidebar-view-tab') %>
      <%- include('_sidebar-discover-tab') %>
    <% } else { %> 
    <%- include('_sidebar-view-tab') %>
    <%- include('_sidebar-guest-discover-tab') %>
    <% } %>

    <div class="sidebar-pane" id="settings">
      <h1 class="sidebar-header"
        >Settings<span class="sidebar-close"
          ><i class="fa fa-caret-left"></i></span
      ></h1>
    </div>
  </div>

  <% if (username) { %>
  <div id="markerModal" class="modal">
    <div class="modal-content">
      <h3>Information about the point</h3>
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" /><br /><br />
      <label for="image">Image (URL):</label>
      <input type="text" id="image" name="image" /><br /><br />
      <div class="item-bar">
        <button id="addPointBt"  class="btn btn-success">Add point</button>
        <button id="closeModalBtn" class="btn btn-secondary">Close</button>
      </div>
    </div>
  </div>
  <div id="contrib-markerModal" class="modal">
    <div class="modal-content">
      <h3>Information about the point</h3>
      <label for="contrib-description">Description:</label>
      <input type="text" id="contrib-description" name="description" /><br /><br />
      <label for="image">Image (URL):</label>
      <input type="text" id="contrib-image" name="image" /><br /><br />
      <div class="item-bar">
        <button id="addContribPointBt" class="btn btn-success">Add point</button>
        <button id="contrib-closeModalBtn" class="btn btn-secondary">Close</button>
      </div>
    </div>
  </div>
  <!-- <div id="mapBox" class="map-box" style="display: none">
    <form id="mapForm">
      <div class="map-box-form">
        <h3>New Map</h3>
        <label for="title">Title:</label>
        <input type="text" id="mapTitle" name="title" /><br /><br />
        <label for="description">Description:</label>
        <input type="text" id="mapDescription" name="description" /><br /><br />
        <label>Private <input type="checkbox" id="isPrivate" /></label>
        <button type="submit">Create Map</button>
      </div>
    </form>
  </div> -->
  <div
    id="point-button"
    class="leaflet-pm-toolbar leaflet-pm-draw leaflet-bar leaflet-control"
    ><div class="button-container"
      ><a class="leaflet-buttons-control-button"
        ><div
          class="control-icon leaflet-pm-icon-marker"
          title="Draw Marker"
        ></div></a
      ><div class="leaflet-pm-actions-container"
        ><a class="leaflet-pm-action action-cancel">Cancel</a></div
      ></div
    >
  </div>
  <% } %>
</div>
